@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearSlowly {
  0% {
    opacity: 0;
    //transform: translateY(-3rem);
  }

  25%, 75% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
    //transform: translateY(0);
  }
}
